<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Francesco Laparelli</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">laparelli</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="details-container">
    <div class="figure-details">
      <p><strong>Born:</strong> 1521</p>
      <p><strong>Role:</strong> Italian military architect </p>
      <p><strong>Notable:</strong> Commissioned by the Pope and sent to Malta after the Great Siege of 1565 to design the fortifications and urban plan of Valletta. He laid out the grid pattern of the city.</p>
    </div>
    <img src="assets/laparelli.jpg" class="figure-image" />
  </div>

  <h2>Location:</h2>
  <div class="map-container">
    <div id="map"></div>
  </div>

  <ion-button expand="block" (click)="openDirections()">
    Get Directions
  </ion-button>

  <div>
    <h2>AR Experience:</h2>
    <ion-button expand="block" (click)="openAeroProject()">
      View AR Experience
    </ion-button>
  </div>
</ion-content>
