<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Saint Dominic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Saint-Dominic</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="details-container">
    <div class="figure-details">
      <p><strong>Born:</strong> c. 1170</p>
      <p><strong>Role:</strong> Spanish priest, founder of the Order of Preachers (Dominicans) </p>
      <p><strong>Notable:</strong> Founded the Dominican Order in 1216, which emphasized preaching, education, and poverty. While he never came to Malta, Dominican friars established themselves on the island in the 15th century. Churches and schools in Malta bear his name, including St. Dominic’s Church in Valletta.</p>
    </div>
    <img src="assets/stdom.jpg" class="figure-image" />
  </div>

  <h2>Location:</h2>
  <div class="map-container">
    <div id="map"></div>
  </div>

  <ion-button expand="block" (click)="openDirections()">
    Get Directions
  </ion-button>

  <div>
    <h2>AR Experience:</h2>
    <ion-button expand="block" (click)="openAeroProject()">
      View AR Experience
    </ion-button>
  </div>
</ion-content>
