<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Saint Augustine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Saint-Aug</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="details-container">
    <div class="figure-details">
      <p><strong>Born:</strong> 354 AD</p>
      <p><strong>Role:</strong> Early Christian theologian and bishop </p>
      <p><strong>Notable:</strong> While not Maltese, he is important in Christian theology and has churches and institutions in Malta named after him. He was the Bishop of Hippo and a Doctor of the Church, known for works like Confessions and The City of God.</p>
    </div>
    <img src="assets/staug.jpg" class="figure-image" />
  </div>

  <h2>Location:</h2>
  <div class="map-container">
    <div id="map"></div>
  </div>

  <ion-button expand="block" (click)="openDirections()">
    Get Directions
  </ion-button>

  <div>
    <h2>AR Experience:</h2>
    <ion-button expand="block" (click)="openAeroProject()">
      View AR Experience
    </ion-button>
  </div>
</ion-content>
